# Configuración de base de datos
DB_HOST=localhost
DB_PORT=5432
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME

# MQTT
MQTT_BROKER_URL=mqtt://localhost:1883
MQTT_USERNAME=NOMBRE_DE_USUARIO
MQTT_PASSWORD=CONTRASEÑA
MQTT_CLIENT_ID=ID_DEL_CLIENTE

# Backend
PORT=3000
NODE_ENV=development
